<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>658067346340-jlc9kfdjg180mnf74s6p4g7nceckd9vi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.658067346340-jlc9kfdjg180mnf74s6p4g7nceckd9vi</string>
	<key>API_KEY</key>
	<string>AIzaSyCl9FN_LOp5VFbXXnVvjwY4_VE2P1CA1uE</string>
	<key>GCM_SENDER_ID</key>
	<string>658067346340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-e5eee</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-e5eee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658067346340:ios:6f08cea0ed46210fa3a731</string>
</dict>
</plist>